// below 1344
@media (max-width: 84em) {
  .hero-container {
    max-width: 120rem;
  }
}

// below 1200
@media (max-width: 75em) {
  .hero-title {
    font-size: 5.4rem !important;
  }

  .nav-list li {
    font-size: 6.4rem !important;
  }
}

@media (max-width: 59em) {
  .nav-list li {
    font-size: 5rem !important;
  }

  .hero-title {
    font-size: 5rem !important;
    text-align: center;
  }

  .heading-title {
    font-size: 4rem !important;
  }
  .hero-container {
    flex-direction: column-reverse !important;
    padding-top: 12rem !important;
  }

  .hero-img {
    margin-left: 0 !important;
    transform: none !important;
    margin-bottom: 0 !important;
  }

  .portfolio-project {
    grid-template-columns: 1fr !important;
    text-align: left !important;
    justify-items: flex-end !important;
  }

  .portfolio-project:nth-child(2n) .portfolio-project__img {
    order: unset !important;
  }

  .portfolio-project h2 {
    display: block !important;
  }

  .portfolio-project__content::before {
    font-size: 20rem !important;
    z-index: 1000 !important;
    display: inline !important;
  }

  .pg-btns {
    margin-top: 0 !important;
  }

  .portfolio-project h2 {
    font-size: 4rem !important;
  }

  .about-content {
    grid-template-columns: 1fr !important;
  }

  .contact-content {
    grid-template-columns: 1fr !important;
  }
}

/*
BELOW 544px (Phones)
*/

@media (max-width: 34em) {
  .hero-title {
    font-size: 4rem !important;
    margin-bottom: 2rem !important;
  }

  .nav {
    padding: 2rem 2rem !important;
  }

  .nav-list li {
    font-size: 4rem !important;
  }

  .hero-img {
    width: 80% !important;
  }

  .heading-title {
    padding: 0 2rem !important;
  }

  .portfolio-project__content::before {
    font-size: 15rem !important;
  }

  .portfolio-project__img {
    height: 100% !important;
  }

  .pg-btns {
    margin-top: 0 !important;
  }

  .portfolio-project h2 {
    font-size: 3rem !important;
  }

  .about-content {
    grid-template-columns: 1fr !important;
  }

  .contact-content {
    grid-template-columns: 1fr !important;
  }

  .pg-heading-primary {
    font-size: 3.2rem !important;
  }

  .p {
    font-size: 2rem !important;
  }

  .underline {
    font-size: 2rem;
  }

  .footer {
    padding: 2rem 2rem !important;
  }

  .footer-logo {
    display: none;
  }

  .footer-icons {
    gap: 0 !important;
  }

  .pg-btn {
    font-size: 1.2rem !important;
  }
}
